.submitButton {
  background-color: #cd933e;
  margin-right: 30px;
  border: 1px solid black;
}

.submitButton:hover {
  background-color: white;
  color: #cd933e;
  border: 0.5px solid black;
}

.senhaLogin {
  margin-left: 30px;
}
